.tabs {
  position: absolute; /* 脱离文档流，不占用transform之前的空间 */
  background-color: #777;
  height: 950px; /*宽度*/
  transform: rotateZ(-90deg) rotateY(180deg); /* 逆时针旋转90度，再对y轴翻转 */
  transform-origin: left top;
  overflow-x: hidden;
  /* 滚动条样式调整 */
  &::-webkit-scrollbar {
    width: 2px;
    background-color: #777;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    opacity: 0.5;
    transition: all ease 1s;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #ddd;
  }
}